.logo {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  height: 30px;
  min-width: 100px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .logo {
  }
}
